* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  /* top head section start  */
  .tophead {
    background-color: #024d3a;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0px 100px;
  }
  .tophead ul li {
    display: inline-block;
    color: #fff;
    margin: 0px 5px;
  }
  .tophead ul li a {
    text-decoration: none;
    color: #fff;
  }
  /* top head section end  */
  /* headr section start  */
  header {
    background: #029155;
    width: 100%;
    height: 100px;
    color: #fff;
    line-height: 100px;
    padding: 0px 20px;
  }
  header h1 {
    font-size: 50px;
    margin-left: 80px;
  }
  header h3 {
    margin-left: 20px;
    text-align: center;
    justify-content: center;
  }
  header h1,
  h3 {
    display: inline-block;
  }
  /* headr section end  */
  /* nav section start  */
  nav {
    background: #28ee74;
    height: 50px;
    width: 100%;
    line-height: 50px;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
    margin-left: 105px;
  }
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
  }
  nav ul li a:hover {
    font-size: 105%;
    transition: 0.3s;
  }
  /* nav section end */
  /* content section start  */
  section {
    width: 100%;
    padding: 0 100px;
  }
  section main {
    width: 80%;
    float: left;
    padding-top: 10px;
  }
  section main ul li {
    margin-left: 50px;
  }
  section aside {
    width: 20%;
    float: right;
    background-color: #d8cccccb;
    padding: 20px 0 0 15px;
  }
  aside ul li {
    font-weight: 700;
    list-style: none;
  }
  aside ul li ul li {
    font-weight: 200;
    padding: 0px 0px 0px 20px;
  }
  /* content section end  */
  /* footer section start  */
  footer {
    width: 100%;
    height: 100px;
    background-color: #054a2d;
    color: #fff;
    padding: 10px;
  }
  footer p a {
    text-decoration: none;
    color: #fff;
  }
  footer .links {
    float: left;
    width: 33%;
    padding-left: 50px;
  }
  footer .follow {
    float: left;
    width: 33%;
  }
  footer.copy {
    float: right;
    width: 34%;
    text-align: right;
  }

  /* footer section end  */
  
  /* Media Queries start */
  @media screen and (max-width:991px) {
    .tophead{
        height: auto;
        padding: 10px;
    }
    .tophead ul li{
        display: block;
    }
    header,nav{
        text-align: center;
        padding: 0px 10px;
    }
    section{
        padding: 0px 0px 0px 10px;

    }
}
 
@media screen and (max-width:767px) {
    section main, section aside {
        float: none;
        width: 100%;
        padding: 0px;
    }
    footer .links, footer .follow, footer .copy {
        float: none;
        width: 100%;
        text-align: center;
        height: auto;

    }
    
}

@media screen and (max-width:575px) {
    header{
        line-height: normal;
    }
    header h1,header h3 {
        display: block;
    }
}
/* Media Queries end */
